<ul class="breadcrumb">
  <li>
    <a href="/"><%- msg('index') %></a>
    <span class="divider">/</span>
  </li>
  <li class="active"><%- msg('groups') %></li>
</ul>

<div id="group">
    <h1><%= msg('groups') %></h1>
    <ul><%- partial('groupnode', groupRoot) %></ul>
</div>
