#page {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#logo {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #FFF;
    font-family: 'Ubuntu', Helvetica, Arial;
    font-size: 40px;
    line-height: 60px;
}

#nav {
    position: absolute;
    top: 7px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0;
        float: left;
        line-height: 40px;
        font-size: 18px;
        margin: 10px 10px;
        a.btn {
            padding: 8px 16px;
        }
    }
}

#content {
    padding-top: 90px;
    padding-bottom: 10px;
}

#footer {
    text-align: center;
    color: #AAA;
    font-size: 0.8em;
    padding-bottom: 10px;

    a,
    a:hover,
    a:focus {
        background: none;
        color: #AAA;
    }
}
