form(method="POST", action="/api/authorize")
  .flash.block-flash.info-flash
    div.message!= msg('app-auth-message', appinfo.clientid, appinfo.name)
    div.choices
      input(type="submit", name="yes", value=msg('Yes'))
      input.normal-button(type="submit", name="no", value=msg('No'))

