<ul class="breadcrumb">
  <li>
    <a href="/">首頁</a>
    <span class="divider">/</span>
  </li>
  <li class="active">用戶組</li>
</ul>

<div class="row">
  <div class="span6">
    <h2><%= msg('groups') %></h2>
    <%- partial('partials/groupnode', groupRoot) %>
  </div>
</div>
