<div class="hero-unit">
  <h1>
    <img src="/img/net9.gif" width="130" height="130" />
    Accounts9
  </h1>
  <p>欢迎各位酒井用户来到Accounts9。</p>
  <% if (!curUser) { %>
    <p>
      <a class="btn btn-primary btn-large" href="/login"><%= msg('login') %></a>
    </p>
  <% } %>

</div>