<h1>搜索结果</h1>
<p>
	<a class="btn invisible">喵~</a>
<% (function () { %>
	<% include ../partials/vcard.ejs %>
<% })() %>
</p>
<% (function () { %>
  <% var showActions = false %>
  <% var showBelong = false %>
  <% var showRootActions = isRoot %>
  <% include userlist %>
<% })() %>
