<div class="row">
  <div class="span6">
    <p>
      <h1>
        <img src="<%= user.gravatar(80) %>" class="thumbnail" style="display:inline" alt="Gravatar" />
        <%= user.nickname %>
      </h1>
    </p>
    <%- partial('userinfo') %>
    <% if (curUser && curUser.name == user.name) { %>
      <p>
        <a href="/dashboard" class="btn btn-primary">
          <i class="icon-edit icon-white"></i>
          <%= msg('dashboard') %>
        </a>
      </p>
    <% } %>
  </div>
</div>
