.clear {
  clear: both;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, sans-serif;
  background: #def;
}
img {
  border: 0;
}
h1 {
  letter-spacing: -1px;
  border-bottom: 2px dashed #B2CFFF;
  margin: 10px -20px;
  padding: 0 20px 10px 20px;
  color: #2B65AE;
  text-shadow: 0px 1px 1px #DDE;
}
#header {
  position: relative;
}
#container {
  width: 800px;
  margin: 20px auto;
}
#logo {
  display: block;
  width: 510px;
  height: 150px;
}
#menu {
  margin: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#content {
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white;
  -moz-box-shadow: 0 0 40px 5px #b2e3fa;
  -webkit-box-shadow: 0 0 40px 5px #b2e3fa;
  box-shadow: 0 0 40px 5px #b2e3fa;
}
#footer {
  text-align: center;
  color: #666e80;
  text-shadow: 0 1px 0 white;
  margin: 1em 0 0 0;
  font-size: 90%;
}
#footer p {
  margin: .8ex 0 0 0;
}
.hidden {
  display: none;
}
a:link, a:visited {
  color: #37d;
  text-decoration: none;
}
a:hover, a:active {
  color: #59f;
  text-decoration: underline;
}
input, textarea {
  font: inherit;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 0.75ex;
  border: 1px solid #ccc;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #999;
}
a.button, a.button:visited {
  text-decoration: none;
}
input[type="button"], a.button, input[type="submit"].normal-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eeeeee;
  background: -webkit-gradient(linear, center bottom, center top, from(#dbdbdb), to(#eeeeee));
  background: -moz-linear-gradient(90deg, #dbdbdb, #eeeeee);
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
  box-shadow: 0 1px 0 #ececec;
  margin: .5ex 1ex;
  display: inline-block;
  padding: 1ex 1.5ex;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  position: relative;
  font-weight: normal;
  color: black;
  text-shadow: 1px 1px 0 rgba(180, 180, 180, 0.9);
}
input[type="button"]:hover, a.button:hover, input[type="submit"].normal-button:hover {
  background: #fdfdfd;
  background: -webkit-gradient(linear, center bottom, center top, from(#eaeaea), to(#fdfdfd));
  background: -moz-linear-gradient(90deg, #eaeaea, #fdfdfd);
  border-color: #e3e3e3;
  text-decoration: none;
}
input[type="button"]:active, a.button:active, input[type="submit"].normal-button:active {
  background: #eaeaea;
  background: -webkit-gradient(linear, center bottom, center top, from(#fdfdfd), to(#eaeaea));
  background: -moz-linear-gradient(90deg, #fdfdfd, #eaeaea);
  left: 1px;
  top: 1px;
}
input[type="submit"], a.default-button, input.default-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #5e9ae2;
  background: -webkit-gradient(linear, center bottom, center top, from(#3570b8), to(#5e9ae2));
  background: -moz-linear-gradient(90deg, #3570b8, #5e9ae2);
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
  box-shadow: 0 1px 0 #ececec;
  margin: .5ex 1ex;
  display: inline-block;
  padding: 1ex 1.5ex;
  cursor: pointer;
  border: 1px solid #2e63a5;
  position: relative;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 rgba(46, 99, 165, 0.9);
}
input[type="submit"]:hover, a.default-button:hover, input.default-button:hover {
  background: #6ab2ff;
  background: -webkit-gradient(linear, center bottom, center top, from(#4188dc), to(#6ab2ff));
  background: -moz-linear-gradient(90deg, #4188dc, #6ab2ff);
  border-color: #3a7bc9;
  text-decoration: none;
}
input[type="submit"]:active, a.default-button:active, input.default-button:active {
  background: #4188dc;
  background: -webkit-gradient(linear, center bottom, center top, from(#6ab2ff), to(#4188dc));
  background: -moz-linear-gradient(90deg, #6ab2ff, #4188dc);
  left: 1px;
  top: 1px;
}
a.warning-button, input.warning-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eb645e;
  background: -webkit-gradient(linear, center bottom, center top, from(#c23b35), to(#eb645e));
  background: -moz-linear-gradient(90deg, #c23b35, #eb645e);
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
  box-shadow: 0 1px 0 #ececec;
  margin: .5ex 1ex;
  display: inline-block;
  padding: 1ex 1.5ex;
  cursor: pointer;
  border: 1px solid #cd504a;
  position: relative;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 rgba(162, 43, 47, 0.9);
}
a.warning-button:hover, input.warning-button:hover {
  background: #fa6963;
  background: -webkit-gradient(linear, center bottom, center top, from(#d1403a), to(#fa6963));
  background: -moz-linear-gradient(90deg, #d1403a, #fa6963);
  border-color: #dc554f;
  text-decoration: none;
}
a.warning-button:active, input.warning-button:active {
  background: #d1403a;
  background: -webkit-gradient(linear, center bottom, center top, from(#fa6963), to(#d1403a));
  background: -moz-linear-gradient(90deg, #fa6963, #d1403a);
  left: 1px;
  top: 1px;
}
.flash, .block-flash {
  border-width: 1px 0px;
  border-style: solid none;
}
.flash {
  margin: 1ex 3em;
  padding: 1ex 3ex;
}
.block-flash {
  width: 60%;
  margin: 1ex auto;
  padding: 1.5ex 2em;
}
.block-flash .message {
  margin: .5ex;
}
.block-flash .choices {
  text-align: center;
  margin-top: 1em;
}
.error-flash, .danger-flash {
  border-color: #f33;
  color: #600;
  background: #ffbbbb;
  background: -webkit-gradient(linear, center bottom, center top, from(#ff9b9b), to(#ffbbbb));
  background: -moz-linear-gradient(90deg, #ff9b9b, #ffbbbb);
}
.info-flash {
  border-color: #59d;
  color: #126;
  background: #ddeeff;
  background: -webkit-gradient(linear, center bottom, center top, from(#bbddff), to(#ddeeff));
  background: -moz-linear-gradient(90deg, #bbddff, #ddeeff);
}
.form-table, .info-table {
  width: 100%;
}
.form-table th,
.info-table th,
.form-table td,
.info-table td {
  vertical-align: top;
}
.form-table th, .info-table th {
  text-align: right;
  padding-right: 1em;
}
.form-table th {
  width: 50%;
}
.form-table th .tip {
  display: none;
  color: #555;
  font-weight: normal;
}
.section {
  width: 41%;
  margin: 1ex 3%;
  padding: 1ex 1%;
}
#section-userinfo {
  float: left;
}
#section-apps {
  float: right;
}
.section h2 {
  font-size: 120%;
  border-bottom: 1px dotted #666;
  margin: 1ex -1em;
}
.operable-list {
  margin: 0;
  padding: 0;
}
.operable-list li {
  display: block;
  padding: 0.5ex 1ex;
}
.operable-list li:hover {
  background: #eef7ff;
}
