body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
input, textarea {
  font: inherit;
}
input[type="text"], input[type="password"], textarea {
  padding: 5px;
  border: 1px solid #ccc;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #999;
}
.box-shadow {
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
}
a.button, a.button:visited {
  color: black;
  text-decoration: none;
}
input[type="button"], a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eeeeee;
  background: -webkit-gradient(linear, center bottom, center top, from(#dbdbdb), to(#eeeeee));
  background: -moz-linear-gradient(90deg, #dbdbdb, #eeeeee);
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
  display: block;
  padding: 1ex 1.5ex;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(160, 160, 160, 0.9);
}
input[type="button"]:hover, a.button:hover {
  background: #fdfdfd;
  background: -webkit-gradient(linear, center bottom, center top, from(#eaeaea), to(#fdfdfd));
  background: -moz-linear-gradient(90deg, #eaeaea, #fdfdfd);
  border-color: #e3e3e3;
}
input[type="button"]:active, a.button:active {
  background: #eaeaea;
  background: -webkit-gradient(linear, center bottom, center top, from(#fdfdfd), to(#eaeaea));
  background: -moz-linear-gradient(90deg, #fdfdfd, #eaeaea);
}
input[type="submit"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #5e9ae2;
  background: -webkit-gradient(linear, center bottom, center top, from(#3570b8), to(#5e9ae2));
  background: -moz-linear-gradient(90deg, #3570b8, #5e9ae2);
  -moz-box-shadow: 0 1px 0 #ececec;
  -webkit-box-shadow: 0 1px 0 #ececec;
  display: block;
  padding: 1ex 1.5ex;
  cursor: pointer;
  border: 1px solid #2e63a5;
  margin: 0;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 rgba(46, 99, 165, 0.9);
}
input[type="submit"]:hover {
  background: #6ab2ff;
  background: -webkit-gradient(linear, center bottom, center top, from(#4188dc), to(#6ab2ff));
  background: -moz-linear-gradient(90deg, #4188dc, #6ab2ff);
  border-color: #3a7bc9;
}
input[type="submit"]:active {
  background: #4188dc;
  background: -webkit-gradient(linear, center bottom, center top, from(#6ab2ff), to(#4188dc));
  background: -moz-linear-gradient(90deg, #6ab2ff, #4188dc);
}
#register-form, #login-form {
  width: 100%;
}
#register-form th, #login-form th {
  text-align: right;
  width: 50%;
}
#register-form th .tip, #login-form th .tip {
  display: none;
  color: #333;
  font-weight: normal;
}
#register-form th, #register-form td {
  vertical-align: top;
}
#register-error, #login-error {
  width: 300px;
  border: 1px solid red;
  color: #600;
  padding: 5px;
  background: #ff9999;
  background: -webkit-gradient(linear, center bottom, center top, from(#ff6666), to(#ff9999));
  background: -moz-linear-gradient(90deg, #ff6666, #ff9999);
}
#reg-submit, #login-submit, #login-register {
  float: left;
  margin-right: 1em;
}
