<li>
  <a href="/apps/<%=authedappitem.clientid %>/revoke" class="btn btn-danger"><i class="icon-trash"></i><%- msg('revoke-authorization') %></a>
  <a href="/apps/<%=authedappitem.clientid %>"><%= authedappitem.name %></a>
</li>
